body{
    background-color: #047988;
    margin: auto;
    
}
.reloj { width: 150px; height: 25px; padding: 5px 10px; border: 1px solid rgb(0, 0, 0); 
font: bold 1.5em dotum, "lucida sans", arial; 
text-align: center;
color: rgb(10, 10, 10);
float: right; margin: .4em 0em 0em 0em; }

.menu{
    list-style: none;
    padding: 0;
    background: #0c6651;
    width: 1000%;
    max-width: 1000px;
    margin: auto;
    font-size: 15px;
}
.menu a li{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
.menu a li:hover{
    background: #ef8354;
}
h1{
    text-align: center;
    color: white;
    
}
h1#font{
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 37%;
    color: #fffbfb;
    background: #ff009d4b;
    text-align: center;
    border-radius: 25px;
  }
label{
    display: inline-block;
    width: 120px;
    height: 30px;
}
form {
    background-color: rgb(81, 96, 105);
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0 auto;
    width: 325px;
    border-radius: 15px;
}
input{
    border: 0;
    outline: none;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 25px;
}
input:focus{
    border-color: #18A383;
}
button{
    border: 0;
    outline: none;
    background-color: #38e440;
    border-radius: 25px;
    padding: 15px;
    font-size: 1em;
    width: 290px;
}

/*FORMATO DE FUENTES*/
@font-face {
    font-family: "myFirstFont";
    src:url("../fonts/hug_me_tight.ttf") ;
 }
 @font-face {
    font-family: "open esti";
    src:url("../fonts/friendly.otf") ;
 }
 @font-face {
    font-family: "open2 esti";
    src:url("../fonts/dream_orphans.ttf") ;
 }
 @font-face {
    font-family: "PARRAFOS";
    src:url("../fonts/Louis_George.ttf") ;
 }
P{
    font-family: "myFirstFont";
    font-size: 10px;
    color: black;
}
/*TITULO---------*/
.container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: "myFirstFont";
    letter-spacing: 3px;
    width: 1000px;
  }
  
  .img1 { 
    width: 100%;
    height: 400px;
    opacity: 0.5;
  }
  /*Primera explicacion--------*/
  .p1{
    margin-left: 20px;
    margin-right: 30px;
    font-family: "Parrafos";
    text-indent: 50px;
    text-align:center;
    letter-spacing: 3px;
    font-size:25px;
    color: white;
  }
  /*PARRAFO 1*/
  .p2{
    float: right;
    font-family: "PARRAFOS";
    text-indent: 0px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 150px;
    letter-spacing: 1px;
    color: white;
    font-size:18px;
    width: 850px;
  } 

  /*Imagen Amazon*/
  div.polaroid {
    margin-left: 10px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
  }
  
  div.container1 {
    text-align: center;
    padding: 5px 10px;
    width: 200px;
  }
  .imagen{
      float: right;
  }
  .sec1{
     float: left;
     margin-right: 10px;
     margin-left: 10px;
     width: 300px;
     padding: 10px;
    color: white;
  }
  p#t1{
      color: black;
      font-size: 14px;
      text-align: center;
      margin-left: 60px;

  }
  /*GALERIA DE FOTOS*/
  div.galeriaGlobal{
    margin-left: 250px;
  }
  div.galeria{
    width:400px;
    height:233px;
    display: inline-block;
  }
  .imageness{
    width:400px;
    height:233px;
    display: inline;
  }
  .p3{
    float: right;
    font-family: "PARRAFOS";
    text-indent: 0px;
    text-align: justify;
    margin-left: 0px;
    margin-right: 250px;
    letter-spacing: 1px;
    color: white;
    font-size:18px;
    width: 850px;
  } 
  /*VIDEO PELUQUERIA*/
  iframe#videoPag4{
    width: 650px;
    height: 450px;
    margin-left: 450px;
    margin-right: 500px;
  }
  .videoP{
    position: absolute;
  }